* {
    padding: 0;
    /*top left bottom */
    margin: 0;
    /*căn trên căn dưới*/
    font-family: "Roboto", sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
}

header {
    width: 980px;
    height: 100px;
    background: #cb7802;
}

header img {
    padding-left: 30px;
}

nav {
    height: 35px;
    background: #272f54;
    margin-bottom: 5px;
}

nav .menu ul {
    list-style: none;
}

nav .menu ul li {
    float: left;
    /* căn thẻ li ra giữa*/
    line-height: 35px;
    padding: 0 15px;
}

nav .menu ul li a {
    color: #ffff;
    font-size: 14px;
    text-decoration: none;
    /*bỏ dấu gạch ngang ở dưới*/
}

nav .search {
    line-height: 35px;
    float: right;
    margin-right: 25px;
}

article h3 {
    font-size: 20px;
    text-align: center;
    /*căn giữa*/
    padding: 7px 0;
    color: #272f54;
    text-transform: uppercase;
    /*chữ in hoa*/
    font-weight: bold;
    /*đậm*/
}

article .new_list .new_item {
    width: 28%;
    padding: 12px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 4%;
}

article .new_list .new_item h4 {
    font-size: 14px;
    color: #ad3f00;
}

article .new_list .new_item img {
    margin: 10px auto;
}

article .new_list .new_item #content {
    font-size: 13px;
}

footer {
    width: 980px;
    background: #272f54;
    line-height: 40px;
    text-align: center;
    color: #ffff;
    font-size: 18px;
}

#fix {
    margin-right: 0;
    /* padding-left: 45px; */
}